doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Lettersafe
		link(rel='stylesheet', type='text/css', href='./css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='./css/fonts.css')
		link(rel='stylesheet', type='text/css', href='./css/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='./css/style-client.css')
		script(type='text/javascript', data-main='./js/main.js' src='./js/libs/require.js')
	body
		section.app-menu(data-visibility='hidden')
		section.app-main
			section.app-header
			section.app-content
			footer.app-footer