extends layout

block content
  h1 #{title}
  form(action='/login', method='post')
    input(name='username', placeholder='Username')
    input(name='password', placeholder='Password')
    input(type='submit', value='Login')