.app-header
	@extend .layer
	right 0px
	height 60px
	z-index 1000
	overflow initial
	
.app-header 
	.header-inner
		margin 0
		padding 0
		width 100%
		height 60px
		background-color color_base
		box-sizing border-box
		border-bottom 1px darken(color_base, 10%) solid


.app-header
	.mainLogo, nav.settings
		font-size 22px
		font-family baseFontLight
		color #fff
		cursor pointer
		transition all .3s ease-in-out
		z-index 990
	.mainLogo
		absolute top left
		.brand, span.name 
			display inline-block
			padding 16px 15px 13px 15px
			transition all .3s ease-in-out
			font-family baseFontLight
		.brand
			width 60px
			position relative 
			z-index 980
		span.name
			border-left none
			position relative
			padding-left 0px
			padding-right 15px
			z-index 970
			margin-left 0px
		&:hover, &:active, &:focus
			opacity 1
			.brand
				background-color rgba(#000, 0.1)
		&:active
			.brand
				background-color rgba(#000, 0.1)
				box-shadow inset 0px 2px 8px 0px rgba(#000, 0.1)



.app-header
	ul.settings-menu
		display block
		float right
		margin-top 18px
		margin-right 15px
		li 
			font-size 22px
			color #fff