::-webkit-scrollbar	
	width 10px
	height 10px

::-webkit-scrollbar-track
	background-color rgba(#000, 0.1)
	border-left 1px rgba(#000, 0.1) solid
	opacity 0
	transition opacity .2s ease-in-out
	&:hover
		opacity 1

::-webkit-scrollbar-thumb
	background-color rgba(#000, 0.1)
	transition background .2s ease-in-out
	cursor pointer
	&:hover
		background-color rgba(#000, 0.2)