.social-post
	background-color #fff
	border 1px theme_border_color solid
	box-shadow 0px 0px 10px 1px rgba(#000, 0.1)
	.pic
		position relative
		&:after
			absolute bottom left
			left 20px
			content ''
			border 12px transparent solid
			border-bottom-color theme_background_color
	.post
		blockquote
			padding-top 20px
			margin-bottom 5px
			border none
			p
				font-size 1.2em
				font-family baseFont
			small
				margin-left 20px
				font-size 90%


// Post Details 
.social-post ul.post-details
	list-style none
	margin 0
	padding 10px 20px
	li
		display inline-block
		margin-right 12px
		i
			opacity 0.7
			margin-right 4px


