// Comments
// We use a perspective style transformations
// to develop a working folding paper accordions
.social-post

	.media-list.comments
		li.media
			border-bottom 1px theme_widget_header solid
			padding 10px
			&:first-child
				border-top 1px theme_widget_header solid
			.media-object
				width 32px
				height 32px
			.media-body 
				.media-heading
					font-family baseFont
					font-size 18px
